{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container">
        <div class="table-responsive text-nowrap">
            <h3>
                <strong>Your Cart</strong>
            </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Item Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in object.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order_item.item.item_name }}</td>
                        <td>
                            {% if order_item.item.discount_price %}
                            <del>${{ order_item.item.price}}</del>
                            ${{ order_item.item.discount_price }}
                            {% else %}
                            ${{ order_item.item.price}}
                            {% endif %}

                        </td>
                        <td>
                            <a href="{% url 'core:reduce-quantity-item' order_item.item.pk %}"><i
                                    class="fas fa-minus mr-2"></i></a>
                            {{ order_item.quantity }}
                            <a href="{% url 'core:add-to-cart' order_item.item.pk %}"><i
                                    class="fas fa-plus ml-2"></i></a>
                        </td>
                        <td>
                            {% if order_item.item.discount_price %}
                            ${{ order_item.get_discount_item_price }}
                            <span class="badge badge-success">Saved ${{ order_item.get_amount_saved }}</span>
                            {% else %}
                            ${{ order_item.get_total_item_price}}
                            {% endif %}
                            <a href="{% url 'core:remove-from-cart' order_item.item.pk %}">
                                <i class="fas fa-trash float-right text-danger"></i>
                            </a>

                        </td>
                    </tr>

                    {% empty %}
                    <tr>
                        <td colspan="5">Your Cart Empty</td>
                    </tr>

                    <tr>
                        <td colspan="5">
                            <a href="/" class="btn btn-primarsy float-right">Continue Shopping</a>
                        </td>
                    </tr>

                    {% endfor %}

                    {% if object.get_total_price %}
                    <tr>
                        <td colspan="4"><b>Total Order Price</b></td>
                        <td>${{ object.get_total_price }}</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a href="#" class="btn btn-warning float-right ml-2">Checkout</a>
                            <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
                        </td>
                    </tr>

                    {% endif %}

                </tbody>
            </table>

        </div>
    </div>
</main>

{% endblock content %}