{% load static %}
{% load cart_template_tags %}


<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="{% static 'assets/img/logo.png' %} " alt="">
            <h1>Natura_GR</h1>
        </a>
        <div class="position-relative">
            <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
            <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        </div>


        <nav id="navbar" class="navbar">
            <div class="mt-5 pt-4">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <ul>
                <li><a href="index.html">Blog</a></li>
                <li><a href="single-post.html">Single Post</a></li>
                <li class="dropdown"><a href="category.html"><span>Categories</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="search-result.html">Search Result</a></li>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>

                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">


            <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
            <a href="#" class="mx-2">Contacto</a>
            {% if user.is_authenticated %}
            <a href="#" class="mx-2"> Hola {{ user.username }}!</a>
            <a class="nav-link waves-effect" href="{% url 'logout' %}"> logout</a>
            {% if request.user|cart_item_count != 0 %}
            <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
            {% endif %}
            <a href="#" class="mx-2"><i class="bi bi-cart">Carrito</i></a>
            {% else %}

            <a class="nav-link waves-effect" href="{% url 'login' %}"> login</a>
            {% endif %}

            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header><!-- End Header -->