{% load widget_tweaks %}
{% load i18n %}
{% load widget_tweaks %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Hugo 0.98.0">
	<title>Signin</title>







	<!-- Favicons -->
	<link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/apple-touch-icon.png"
		sizes="180x180">
	<link rel="icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32"
		type="image/png">
	<link rel="icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16"
		type="image/png">
	<link rel="manifest" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/manifest.json">
	<link rel="mask-icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/safari-pinned-tab.svg"
		color="#712cf9">
	<link rel="icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/favicon.ico">
	<meta name="theme-color" content="#712cf9">


	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}

		.b-example-divider {
			height: 3rem;
			background-color: rgba(0, 0, 0, .1);
			border: solid rgba(0, 0, 0, .15);
			border-width: 1px 0;
			box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
		}

		.b-example-vr {
			flex-shrink: 0;
			width: 1.5rem;
			height: 100vh;
		}

		.bi {
			vertical-align: -.125em;
			fill: currentColor;
		}

		.nav-scroller {
			position: relative;
			z-index: 2;
			height: 2.75rem;
			overflow-y: hidden;
		}

		.nav-scroller .nav {
			display: flex;
			flex-wrap: nowrap;
			padding-bottom: 1rem;
			margin-top: -1px;
			overflow-x: auto;
			text-align: center;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
		}
	</style>


	<!-- Custom styles for this template -->
	<link href='{%static "login2_files/signin.css"%}' rel="stylesheet">
</head>

<body class="text-center">

	<main class="form-signin w-100 m-auto">

		<p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
		</p>

		<p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
		</p>








	</main>


	<form class="login100-form validate-form" method="POST">

		<p style="text-align:justify;">Si olvidó su contraseña, ingrese su correo registrado en el perfil y le
			enviaremos instrucciones para restablecerla </p>
		{% csrf_token %}
		<div class="wrap-input100 validate-input m-b-26" data-validate="Usuario es requerido">
			<label class="label-input100" for="username">Email:</label>

			{{ form.email|add_class:'input100' }}

			<span class="focus-input100"></span>
		</div>



		<div class="flex-sb-m w-full p-b-30">


			<div>


			</div>
		</div>

		<div class="container-login100-form-btn">
			<input type="submit" value="Enviame las instrucciones" class="login100-form-btn" />



		</div>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>




</body>

</html>